<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal</title>
    <link rel="icon" href="/src/public/images/Logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/src/public/style.css">
</head>
<body>
    <header>
        <div class="dadosContainer">
            <img  src="/src/public/images/LogoHeader.png" alt="Logo">

            <div class="dadosContent">
                <p>Nome: ADMIN</p>
                <br>

                <div id="saldoContainer">
                    <span id="saldoText">Saldo: 
                        <button id="saldoInput">cadastrar Saldo</button>
                    </span>
                </div>

            </div>

        </div>

    </header>

    <script>
        function navigateTo(page) {
            window.location.href = page;
        }
    </script>

    <div class="button-container">
        <div class="button" onclick="navigateTo('receitas.html')">Receitas</div>
        <div class="button" onclick="alert('Botão 2 clicado!')">Despesas</div>
        <div class="button" onclick="alert('Botão 3 clicado!')">Editar</div>
    </div>

    <script src="/src/public/app.js"></script>
</html>