<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receitas</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <header>
        <div class="dadosContainer">
            <img src="/public/images/LogoHeader.png" alt="Logo">

            <div class="dadosContent">
                <p>Nome: ADMIN</p>
                <br>

                <div id="saldoContainer">
                    <span id="saldoText">Saldo:
                        <button id="saldoInput">cadastrar Saldo</button>
                    </span>
                </div>

            </div>

        </div>

        <h1>Adicionar Nova Receita Financeira</h1>

    </header>

    <form id="formReceita" action="/controllers/app2.php" method="POST">
        <label for="id">ID da Receita</label>
        <input type="text" id="id" name="id" required>

        <label for="valor">Valor</label>
        <input type="number" id="valor" name="valor" step="0.01" required>

        <label for="data">Data</label>
        <input type="date" id="data" name="data" required>

        <label for="descricao">Descrição (opcional)</label>
        <textarea id="descricao" name="descricao" rows="4"></textarea>

        <label for="categoria">Caregoria</label>
        <input type="text" id="categoria" name="categoria" required>

        <button type="submit">Adicionar Receita</button>
    </form>


    
    <script src="/public/app.js"></script> 
</body>
</html>