<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saldo</title>
</head>
<body>

    <header>
        <h1>Saldo atual:</h1>

    </header>
    
    <div>
        <form action="" method="post">
            <header>
                <h1>Saldo atual:</h1>
            </header>
        
            <div>
                <h2>Receitas</h2>
                <table>
                    <tr>
                        <th>Data</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                    </tr>
                </table>
        
                <h2>Despesas</h2>
                <table>
                    <tr>
                        <th>Data</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                    </tr>
                    
                </table>
            </div>

        </form>
    </div>
</body>
</html>